Chatbot Workflow.json
{
  "name": "Chatbot Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ $node[\"Webhook\"].json.body.question }}",
        "options": {
          "systemMessage": "You are an AI assistant specialized in analyzing user queries and retreive the data using pine cone vector store and Postgres database. Collate the information from both and then form the answer. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -48
      ],
      "id": "84f62056-8841-46d3-8ffd-7e393bfd79de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        176
      ],
      "id": "a9740534-9aab-4b0d-9a5c-ee16cf7d47b9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aO0eWnVA5pBQeU3W",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        336
      ],
      "id": "1cc0548c-f905-4bb9-a751-db72b6f2f137",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "aO0eWnVA5pBQeU3W",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve from vector store",
        "pineconeIndex": {
          "__rl": true,
          "value": "dense-index",
          "mode": "list",
          "cachedResultName": "dense-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -32,
        176
      ],
      "id": "1467539f-1b1d-4f87-84dd-ccd3c847c120",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "rQCn7d0C2rt96wvJ",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve tax information.",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "taxes",
          "mode": "list",
          "cachedResultName": "taxes"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -208,
        160
      ],
      "id": "ce487d49-b626-47e3-8ff7-68b7b051da53",
      "name": "Taxes",
      "credentials": {
        "postgres": {
          "id": "uf49ABehOdJnODDg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get invoice information",
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "invoices",
          "mode": "list",
          "cachedResultName": "invoices"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -352,
        160
      ],
      "id": "e60f6a85-6a34-4891-ac79-5d74e1693b75",
      "name": "Invoices",
      "credentials": {
        "postgres": {
          "id": "uf49ABehOdJnODDg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "229fa488-1df9-4209-af7b-2e64b2a87e32",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        -48
      ],
      "id": "456a8aae-aa75-4c66-b1db-a726a33f3f63",
      "name": "Webhook",
      "webhookId": "229fa488-1df9-4209-af7b-2e64b2a87e32"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node[\"AI Agent\"].json.output }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        80,
        -48
      ],
      "id": "c0286d29-fb74-415e-87cb-7350b1bab6c7",
      "name": "Respond to Webhook1",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Taxes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Invoices": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "924f1a86-145e-4113-bfda-ed9b8fcad20a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16a8eef006365724a48c1b052004e982f993bacb7d4c00afba489b00fc8a1600"
  },
  "nodeGroups": [],
  "id": "zK8bkcUDTYjugPR0",
  "tags": []
}